In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

# Load the CSV file into a Spark DataFrame
file_path = "full.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True, sep=';')

# Display the schema
print("Schema of the dataset:")
df.printSchema()

Schema of the dataset:
root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- dayOfWeek: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- empVarRate: double (nullable = true)
 |-- consPriceIdx: double (nullable = true)
 |-- consConfIdx: double (nullable = true)
 |-- euribor3m: double (nullable = true)
 |-- nrEmployed: double (nullable = true)
 |-- y: string (nullable = true)

In [2]:
df.show()

+---+-----------+--------+-------------------+-------+-------+----+---------+-----+---------+--------+--------+-----+--------+-----------+----------+------------+-----------+---------+----------+---+
|age|        job| marital|          education|default|housing|loan|  contact|month|dayOfWeek|duration|campaign|pdays|previous|   poutcome|empVarRate|consPriceIdx|consConfIdx|euribor3m|nrEmployed|  y|
+---+-----------+--------+-------------------+-------+-------+----+---------+-----+---------+--------+--------+-----+--------+-----------+----------+------------+-----------+---------+----------+---+
| 56|  housemaid| married|           basic.4y|     no|     no|  no|telephone|  may|      mon|     261|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 57|   services| married|        high.school|unknown|     no|  no|telephone|  may|      mon|     149|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 37|   services| married|        high.school|     no|    yes|  no|telephone|  may|      mon|     226|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 40|     admin.| married|           basic.6y|     no|     no|  no|telephone|  may|      mon|     151|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 56|   services| married|        high.school|     no|     no| yes|telephone|  may|      mon|     307|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 45|   services| married|           basic.9y|unknown|     no|  no|telephone|  may|      mon|     198|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 59|     admin.| married|professional.course|     no|     no|  no|telephone|  may|      mon|     139|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 41|blue-collar| married|            unknown|unknown|     no|  no|telephone|  may|      mon|     217|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 24| technician|  single|professional.course|     no|    yes|  no|telephone|  may|      mon|     380|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|      mon|      50|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 41|blue-collar| married|            unknown|unknown|     no|  no|telephone|  may|      mon|      55|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|      mon|     222|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 29|blue-collar|  single|        high.school|     no|     no| yes|telephone|  may|      mon|     137|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|telephone|  may|      mon|     293|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 35|blue-collar| married|           basic.6y|     no|    yes|  no|telephone|  may|      mon|     146|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 54|    retired| married|           basic.9y|unknown|    yes| yes|telephone|  may|      mon|     174|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 35|blue-collar| married|           basic.6y|     no|    yes|  no|telephone|  may|      mon|     312|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 46|blue-collar| married|           basic.6y|unknown|    yes| yes|telephone|  may|      mon|     440|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 50|blue-collar| married|           basic.9y|     no|    yes| yes|telephone|  may|      mon|     353|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
| 39| management|  single|           basic.9y|unknown|     no|  no|telephone|  may|      mon|     195|       1|  999|       0|nonexistent|       1.1|      93.994|      -36.4|    4.857|    5191.0| no|
+---+-----------+--------+-------------------+-------+-------+----+---------+-----+---------+--------+--------+-----+--------+-----------+----------+------------+-----------+---------+----------+---+
only showing top 20 rows